body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.font-enhance {
  font-size: 70px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.font-enhance span {
  color: orange;
}
.half-width {
  width: 50%;
  margin-left: 6%;
}
.half-width img {
  width: 80%;
}
.padding-upper {
  padding-top: 100px;
}
.color-set-all {
  color: #575757;
}
.order-all {
  box-shadow: 0px 0px 100px rgb(235, 165, 35);
  text-decoration: none;
  background-image: linear-gradient(to left, red, orange);
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 700;
}
.picfit {
  max-width: 100%;
  align-items: baseline;
}

.making-bg {
  background-image: url("images/shapes/7.png");
  background-size: cover;
}
/* .second-fit{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
.sec-info {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  padding-bottom: 100px;
}
#person-sizing {
  width: 50%;
  margin-left: 30%;
}
.sec3-header {
  font-size: 40px;
  text-align: center;
}
.sec3-body {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  padding-bottom: 80px;
}
.three-sec-width {
  width: 33%;
  box-shadow: 12px 12px 30px rgba(0, 0, 255, 0.2);
  margin-left: 2%;
  margin-right: 2%;
  width: 40%;
  border-radius: 20px;
  border: 16px solid white;
}
.recipe-cards {
  object-fit: cover;
  width: 100%;
 
  
}
.font-med{
  font-size: 35px;
}
